*{
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #f9f9fd;
  }
  
  ::-webkit-scrollbar-thumb {
    background-color: #ab682e;
    background-image: -webkit-linear-gradient(45deg,rgba(255, 255, 255, .25) 25%,
                      transparent 25%,
                      transparent 50%,
                      rgba(255, 255, 255, .25) 50%,
                      rgba(255, 255, 255, .25) 75%,
                      transparent 75%,
                      transparent);
  }
  


form input{
    height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #52B69A;
}
form select{
    height: 25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #52B69A;
}
form *{
    border-radius: 10px;
}
main{
    display: flex;
    justify-content: center;
    text-align: center;
    height: 1080px;
    padding: 20px;
    background-color: #184E77;
}

form{
    height: 18%;
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #99D98C;
    background-color: #1A759F;
    text-align: center;
    width: 20%;
}
.input-container{
    margin: 5px;
    display: flex;
}
.input-container input{
    flex-grow: 1;
}
.input-container select{
    flex-grow: 1;
}